{% extends 'base.html' %}

{% block title %}Mumble{% endblock %}

{% block content %}

  <h1>Titans Gaming Mumble</h1>
  <p>
    <ul>
      <li>Address: eagle.mumbleboxes.com</li>
      <li>port: 36070</li>
    </ul>
  </p>
  <p>
    Unregistered users can not leave the root channel.
    Contact a Titans Member or a user on the server for help on registering.
  </p>
  <p><a href="http://mumble.sourceforge.net/">Download the Mumble client from here.</a></p>
  <p><a href="{{server_url}}">Join the Mumble server (Opens Mumble).</a></p>

  <ul>
    {% include 'mumble/channels.html' with channels=channels %}
  </ul>

  <h2>Server Rules</h2>
  <p>
    <ol>
      <li> Please put your name as your common nickname (The name we are familiar with).</li>
      <li>No constant commentary or monologue.  T_T</li>
      <li>The lounge is for relaxing and conversing as a group.</li>
      <li>If you are going to make a lot of noise from playing or voice activation, please move from the lounge.</li>
      <li>You can play games in the lounge if it does not prevent or inhibit other conversations.</li>
      <li>It's ALWAYS party o'clock.</li>
      <li>We do not talk about rule 6.</li>
      <li>See rule 6.</li>
      <li>Please keep your blasphemous words to a minimum.</li>
      <li>Rule 7 is law.</li>
      <li>The VIP lounge is a backup lounge away from unregistered users. Stick to the lounge when possible or move to a different room entirely.</li>
    </ol>
  </p>

{% endblock %}
